keystore.file=[key store path]
keystore.alias=[key store alias]
keystore.password=[key store password]
keystore.aliaspassword=[key store alias password]

apiai.clientToken=[API ai access token]
apiai.developerToken=[API ai dev token]